/* For background image of Space */
body {
  background: url("src/assets/Space-Background-Images.jpg");
}
/* Navbar styling */
.navbar {
  color: #fff;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 3px solid white
}

.nav-link {
  text-decoration: Bold;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0 1rem;
  padding-right: 8rem;
  padding-left: 8rem;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.nav-link:hover {
  background: blue;
}

/* Home page styling */

.home-container {
  text-align: center;
  margin: 2rem;
  color: #fff;
  font-family: 'Arial', sans-serif; 
}

.welcome-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Helvetica', sans-serif; 
}

.description {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Courier New', monospace; 
}

.feature-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
}

.feature-item {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 3rem;
  font-family: 'Verdana', sans-serif; 
}


.feature-item:hover {
  color: silver;
}

/* Footer Styling */

/* styles.css (or your global stylesheet) */

.footer-container {
  border-top: 3px solid white;
  color: #fff;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.footer-section {
  flex: 1;
  margin: 0 1rem;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: 'Helvetica', sans-serif; 
}

.footer-section p {
  font-size: 1.2rem;
  font-family: 'Courier New', monospace; 

}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  padding-top: 1rem;
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.footer-bottom p {
  margin: 0;
}


.footer-section img:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* styling for Index page */

.Index {
  text-align: center;
  border: 2px 
}

.underline {
  text-decoration: underline;
  color: white;
  display: inline-block;
  margin: 2rem;
  font-size: 2.5rem;

}

.totalObjects {
  color: white;
  border: 1px solid silver;
  
}
.totalObjects:hover {
  
  background-color: blue;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 300px;
  margin: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.1);
  background-color: blue;
}

.card-header {
  position: relative;
}

.planet_picture {
  width: 100%;
  height: auto;
}

.planet_name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 0.5rem;
}

.card-body {
  padding: 1rem;
}

.card-text {
  margin-bottom: 0.5rem;
  color: #fff;
}
/* New resource page/component */



.newPlanetHeader {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: underline;
}



form {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
}

label {
  font-weight: bold;
  margin-top: 1rem;
  color: white;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
  text-align: center;
}

input,
textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.button {
  background-color: #6c757d;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  display: inline-block;
  font-size: 1rem;
  margin-top: 1rem;
}

.button:hover,
input[type="submit"]:hover {
  background-color: #0056b3;
}
/* 404 styling  */

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.error-title {
  font-size: 2em;
  color: #ff0000
}

.error-message {
  font-size: 1.2em;
  margin-top: 10px;
  color: #555;
}

/* Show & PlanetDetails */

.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.show-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
}

/* PlanetDetails component styling */
.show-container {
  text-align: center;
  margin: 2rem;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

.show-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Helvetica', sans-serif;
  text-decoration: underline;
}

.planet-details-container {
  text-align: center;
  margin: 2rem;
  color: #fff;
  font-family: 'Arial', sans-serif;
  border: 5px solid silver
}

.planet-details-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: 'Helvetica', sans-serif;
  text-decoration: underline;
}

.planet-details-image {
  width: 50%;
  height: auto;
}

.planet-details-heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Courier New', monospace;
  
}

.planet-details-text {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  font-family: 'Verdana', sans-serif;
}

.planet-details-text:hover {
  color: silver;
}

.planet-details-navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.planet-details-button {
  background-color: #6c757d;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.planet-details-button:hover {
  background-color: #0056b3;
}

/* edit/planet edit form */
.edit-heading {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 2rem

}

/* PlanetEditForm Component Styling */

.Edit {
  text-align: center;
  margin: 2rem;
  color: #fff;
  font-family: 'Arial', sans-serif;
}



label {
  font-weight: bold;
  margin-top: 1rem;
  color: white;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
}

input,
textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}

input[type="number"] {
  width: 100%;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
}

.submit-button:hover {
  background-color: #0056b3;
}

.button {
  background-color: #6c757d;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
}

.button:hover {
  background-color: #0056b3;
}

/* Add more styles as needed */
